<%- include("../partials/head.ejs") %>
    <%- include("../partials/banner.ejs") %>

        <p class="error-message">La page demandée n'existe pas.</p>

        <%- include("../partials/footer.ejs") %>